body {
  background-image:
    linear-gradient(rgba(12, 11, 11, 0.68)), url("image/TrungHuy.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background:
    radial-gradient(
      circle at 20% 10%,
      rgba(50, 100, 255, 0.18),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(130, 50, 255, 0.15),
      transparent 100%
    ),
    #030b18;
  margin: 0;
  min-height: 100vh;
}

.avt {
  margin-top: 20px;
  border-radius: 50%;
  width: clamp(120px, 32vw, 170px);
  height: clamp(120px, 32vw, 170px);
  object-fit: cover;
  border: 5px solid rgb(255, 238, 6);
  box-shadow:
    0 0 10px #bfff00,
    0 0 55px rgb(209, 185, 25);
  object-position: center 5%;
}
a {
  text-decoration: none;
}
.Tieu_de {
  margin-top: clamp(60px, 16px, 90px);
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rbg {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
h1 {
  margin: 10px;
  font-size: clamp(12px, 8vw, 45px);
  color: aqua;
  font-weight: 800;
}
p {
  font-size: clamp(10px, 3.2vw, 16px);
  color: aqua;
  animation: rbg 3s linear infinite;
}
.Ten_toi {
  animation: slideUp 4s infinite alternate;
}
.Noi_dung_chinh {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 700px;
  align-items: center;
  gap: 30px;
}
.Trong {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 4px solid rgb(255, 255, 255, 0.58);
  padding: 5px;
  border-radius: 20px;
  color: aliceblue;
  width: clamp(250px, 53vw, 350px);
  max-width: 400px;
  background: rgba(247, 244, 244, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}
.anh {
  background-color: rgb(127, 255, 212);
  animation: zoom 3s infinite alternate;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  flex: 11px;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
.text .Nen_tang_mxh {
  color: white;
  letter-spacing: 0.2px;
  font-weight: 800;
  font-size: clamp(14px, 4.26vw, 20px);
}
.Ten_acc,
.Phu_de {
  font-size: clamp(12px, 3vw, 16px);
}
